body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px) brightness(0.2); /* Imposta il blur e la luminosità scura */
}

#bg-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Posiziona il contenuto sopra il video */
    background: rgba(0, 0, 0, 0.5); /* Sfondo con trasparenza */
}

#text-container {
    text-align: center;
    animation: fadeIn 2s ease-in forwards; /* Dissolvenza in entrata */
    color: white; /* Testo bianco sopra sfondo scuro */
}

.text {
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-size: 36px;
    background: linear-gradient(to right, #ff66b3, #8a2be2);
    -webkit-background-clip: text;
    background-clip: text;
    margin: 10px;
}

.large {
    font-size: 72px;
}

#screenshot-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px; /* Imposta la posizione dei screenshot dal basso */
    left: 0;
    width: 100%;
}

.screenshot {
    width: 300px; /* Imposta la larghezza degli screenshot */
    animation: scrollScreenshots 5s linear infinite; /* Animazione di scorrimento */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scrollScreenshots {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%); /* Scorrimento da sinistra a destra */
    }
}
