body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px); /* Imposta il blur intenso */
}

#bg-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Posiziona il contenuto sopra il video */
    background: rgba(0, 0, 0, 0.5); /* Sfondo con trasparenza */
}

#text-container {
    text-align: center;
}

#text-slider {
    display: inline-block;
    animation: zoom 2s ease-in-out forwards;
}

.text {
    color: transparent;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-size: 36px;
    background: linear-gradient(to right, #ff66b3, #8a2be2);
    -webkit-background-clip: text;
    background-clip: text;
    margin-right: 20px;
}

.large {
    font-size: 72px;
}

#screenshot-container {
    text-align: center;
    margin-top: 20px; /* Aggiungi spazio tra il testo e lo screenshot */
}

#screenshot {
    width: 100%;
    max-width: 600px; /* Imposta la larghezza massima dell'immagine */
}

@keyframes zoom {
    0% {
        transform: scale(0.1); /* Parti da una dimensione molto piccola */
    }
    100% {
        transform: scale(1); /* Arriva a una dimensione normale */
    }
}
