body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#splash-screen {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#screenshot-container {
    overflow: hidden;
    width: 50%; /* Regola la larghezza dell'immagine */
}

#screenshot {
    width: 200%; /* Per l'animazione di scorrimento più veloce */
    max-height: 100%;
    object-fit: cover;
    animation: slide 5s linear infinite; /* Regola la velocità dell'animazione */
}

#text-container {
    position: relative;
    width: 50%; /* Regola la larghezza del testo */
}

#text-slider {
    display: inline-block;
    animation: zoom 2s ease-in-out infinite alternate; /* Regola la velocità dell'animazione di ingrandimento */
}

.text {
    color: transparent;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-size: 36px;
    background: linear-gradient(to right, #ff66b3, #8a2be2);
    -webkit-background-clip: text;
    background-clip: text;
    margin-right: 20px;
}

.large {
    font-size: 72px;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

